{% extends "base.html" %}
{% load static %}

    {% block page_header %}
	    <h1 class="diary-heading">Food <strong>Diary</strong></h1>
	{% endblock %}
	
	{% block content %}
        <div class="container overlay overlay-transparent rounded">
            <div class="row">
                <div class="col-12 rmv-padding">
	                <p class="lead font-weight-bold">Calculate your calorie intake each day here by adding your food to our calorie calculator.</p>
                </div>
    {% if request.user.is_authenticated %}
                {% if food_items %}
                    <div class="col-12">
                        <p>Average daily calorie goal = 2000</p>
                        <p>Total calories eaten = {{ total_calories|floatformat:0 }}</p>
                        <p>Remaining Calories = {{ calories_left|floatformat:0 }}</p>
                        <a href="{% url 'nutrition' %}" class="btn btn-lg text-white">
                            <span class="icon"><i class= "fas fa-plus lg"></i></span>
                            <div class=""><small>Add food</small></div>
                        </a>
                    </div>
                    <div class="col">
                        <div class="table-responsive rounded">
                            <table class="table table-sm table-borderless text-white">
                                <thead>
                                    <tr>
                                        <th scope="col">Food</th>
                                        <th scope="col">Amount(g)</th>
                                        <th scope="col">Calories</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in food_items %}
                                    <tr>
                                        <td class="py-3">
                                            <p class="my-0"><strong>{{ item.food.Food }}</strong></p>
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0">{{ item.amount }}g</p>
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0">{{ item.calories|floatformat:0 }}</p>
                                        </td>
                                        <td class="py-3">
                                            <a class="remove-food btn btn-danger btn-sm" id="remove_{{ item.food_id }}" >Remove</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12">
                        <p>Average daily calorie goal = 2000</p>
                            <p class="lead mb-5">Add your food!</p>
                            <a href="{% url 'nutrition' %}" class="btn btn-light rounded-0 btn-lg">
                                <span class="icon"><i class= "fas fa-plus lg"></i></span>
                            </a>
                        </div>
                {% endif %}
    {% else %}
                <div class="col-12">
                    <p class="font-weight-bold paragraph-margin"><a class="index-link" href="{% url 'account_signup' %}">Register</a> or <a class="index-link" href="{% url 'account_login' %}">Login</a> to start tracking your meals</p>
                </div>
    {% endif %}
            </div>
        </div>

	{% endblock %}

    {% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">

        // Remove item and reload on click
        $('.remove-food').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var foodId = $(this).attr('id').split('remove_')[1];
            var url = `/diary/remove/${foodId}`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>
{% endblock %}