{% extends "base.html" %}
{% load static %}

{% block page_header %}
	    <h1 class="diary-heading">Shopping <strong>Bag</strong></h1>
	{% endblock %}
	
	{% block content %}
        <div class="container-fluid overlay rounded">
            <div class="row">
                <div class="col">
                    {% if bookings %}
                    <div class="table-responsive rounded">
                    
                    </div>
                    {% else %}
                    <p class="lead mb-5">You haven't added any sessions to your cart.</p>
                    <a href="{% url 'bookings' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon"><i class="far fa-calendar-alt"></i></span>
                        <span class="icon">Book a session today!</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>

	{% endblock %}