{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h1 class="diary-heading"></h1>
{% endblock %}

{% block content %}
    <div class="container overlay rounded">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-5 mt-md-5">
                    <p class="mb-0">{{ food.Food }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">{{ food.Calories }}</p>
                    {% if food.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'nutrition' %}?category={{ food.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ food.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <p class="lead mb-0 text-left font-weight-bold">Amount</p>
                    <p class="lead mb-0 text-right font-weight-bold">{{ food.Grams }}g</p>
                    <p class="lead mb-0 text-left font-weight-bold">Proten</p>
                    <p class="lead mb-0 text-right font-weight-bold">{{ food.Protein }}g</p>
                    <p class="lead mb-0 text-left font-weight-bold">Fat</p>
                    <p class="lead mb-0 text-right font-weight-bold">{{ food.Fat }}g</p>
                    <p class="lead mb-0 text-left font-weight-bold">Saturaded Fat</p>
                    <p class="lead mb-0 text-right font-weight-bold">{{ food.Saturated_Fat }}g</p>
                    <p class="lead mb-0 text-left font-weight-bold">Fiber</p>
                    <p class="lead mb-0 text-right font-weight-bold">{{ food.Fiber }}g</p>
                    <p class="lead mb-0 text-left font-weight-bold">Carbs</p>
                    <p class="lead mb-0 text-right font-weight-bold">{{ food.Carbs }}g</p>
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_nutrition' food.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_nutrition' food.id %}">Delete</a>
                        </small>
                    {% endif %}
                    <form class="form" action="{% url 'add_to_diary' food.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Amount (in grams):</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-food_id="{{ food.id }}" id="decrement-qty_{{ food.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="amount" value="{{ food.Grams }}" min="1" max="9999"
                                            data-food_id="{{ food.id }}"
                                            id="id_qty_{{ food.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-food_id="{{ food.id }}" id="increment-qty_{{ food.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'nutrition' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Search food</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Diary">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
    // script used from code institute boutique ado project

        // Disable +/- buttons outside 1-99 range
        function handleEnableDisable(itemId) {
            var currentValue = parseInt($(`#id_qty_${itemId}`).val());
            var minusDisabled = currentValue < 2;
            var plusDisabled = currentValue > 9998;
            $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
            $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
        }

        // Ensure proper enabling/disabling of all inputs on page load
        var allQtyInputs = $('.qty_input');
        for(var i = 0; i < allQtyInputs.length; i++){
            var itemId = $(allQtyInputs[i]).data('food_id');
            handleEnableDisable(itemId);
        }

        // Check enable/disable every time the input is changed
        $('.qty_input').change(function() {
            var itemId = $(this).data('food_id');
            handleEnableDisable(itemId);
        });

        // Increment quantity
        $('.increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        var itemId = $(this).data('food_id');
        handleEnableDisable(itemId);
        });

        // Decrement quantity
        $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        var itemId = $(this).data('food_id');
        handleEnableDisable(itemId);
        });
    </script>
{% endblock %}
