{% extends "base.html" %}
{% load static %}

{% block page_header %}
	    <h1 class="diary-heading">Add your food</h1>
	{% endblock %}
	
	{% block content %}
        
    {% if request.user.is_authenticated %}
                
    {% else %}
                <div class="col-12">
                    <p class="font-weight-bold paragraph-margin"><a class="index-link" href="{% url 'account_signup' %}">Register</a> or <a class="index-link" href="{% url 'account_login' %}">Login</a> to start tracking your meals</p>
                </div>
    {% endif %}
            </div>
        </div>

	{% endblock %}