{% extends "base.html" %}
{% load static %}

<main role="main" class="inner cover">
	{% block page_header %}
	    <h1 class="cover-heading">Eco <strong>Fitness</strong></h1>
	{% endblock %}
	<div class="cover-container">
	{% block content %}
	    <p class="lead font-weight-bold paragraph-margin">"Being healthy shouldn't cost the Earth!"</p>
        <p class="font-weight-bold"> This is our philosophy here at eco fitness. We believe that you can look after your mind and body whilst also helping preserve our planet. We offer diet and exercise plans from our trained specialists, tailored to your goals as well as saving the environment. We'll help you make eco friendly swaps whilst also improving your health and lifestyle.</p>
        <p class="font-weight-bold paragraph-margin">You'll meet with one of our professionals either as a one off or on a regular basis, depending on your needs. You can talk through your current lifestyle and your future goals and they'll help you make decisions and plans based on this. A one off session will give you a starting point to go from, what our experts think you should be doing on a daily basis, including exercise and calory intake. If you choose to meet someone on an ongoing basis then this will include full meal and exercise plans, tracking what works and what doesn't and making adjustments over time to keep up with your life and fitness changes.</p>
	    <p class="lead">
		    <a href="{% url 'bookings' %}" class="btn btn-lg btn-secondary">Book now!</a>
	    </p>
    {% if request.user.is_authenticated %}
        <p class="font-weight-bold paragraph-margin">Track your meals in your <a class="index-link" href="{% url 'diary' %}">Food Diary!</a></p>
    {% else %}
        <p class="font-weight-bold paragraph-margin">We also offer a food diary free to anyone who signs up. This lets you set goals and track your daily calorie intake, including macros.</p>
        <p class="font-weight-bold paragraph-margin"><a class="index-link" href="{% url 'account_signup' %}">Register</a> or <a class="index-link" href="{% url 'account_login' %}">Login</a> to start tracking today.</p>
    {% endif %}

	{% endblock %}
    </div>
</main>
