{% extends "base.html" %}
{% load static %}

<main role="main" class="inner cover">
	{% block page_header %}
	    <h1 class="cover-heading">Eco <strong>Fitness</strong></h1>
	{% endblock %}
	
	{% block content %}
	    <p class="lead font-weight-bold paragraph-margin">"Being healthy shouldn't cost the Earth!"</p>
        <p class="font-weight-bold"> This is our philosophy here at eco fitness. We believe that you can look after your mind and body whilst also helping preserve our planet. We offer a range of eco friendly workout equipment as well as diet and exercise plans from our trained specialists.</p>
	    <p class="lead">
		    <a href="#" class="btn btn-lg btn-secondary">Shop now!</a>
	    </p>
    {% if request.user.is_authenticated %}
        <p class="font-weight-bold paragraph-margin">Track your meals in your <a class="index-link" href="{% url 'nutrition' %}">Food Diary!</a></p>
    {% else %}
        <p class="font-weight-bold paragraph-margin"><a class="index-link" href="{% url 'account_signup' %}">Register</a> or <a class="index-link" href="{% url 'account_login' %}">Login</a> to start tracking your meals</p>
    {% endif %}
        <p class="font-weight-bold paragraph-margin">Or <a class="index-link" href="#">Contact us</a> to book in a consultation with one of our specialists. This is a free meeting for us to learn a bit more about you, discuss what you want and to come up with a no obligation quote on tailored meal and exercise plans to help you meet your goals.</p>

	{% endblock %}
</main>
