{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block page_header %}
	<h1 class="diary-heading">{% trans "Set Password" %}</h1>
{% endblock %}

{% block content %}
<div class="container overlay rounded">

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set mt-3">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-info mb-4" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>

</div>
{% endblock %}
