{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_header %}
	<h1 class="diary-heading">{% trans "Change Password" %}</h1>
{% endblock %}

{% block content %}
<div class="container overlay rounded">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change mt-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="btn btn-info mb-4">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
